## Linguagem de Programação Python: Funções##

Python é uma linguagem fracamente tipada, portanto não é necessário definir os tipos de suas variáveis. Para criar uma nova variável, basta escrever o nome dela e atribuir um valor qualquer usando o operador de atribuição "**=**".

In [ ]:
x = 1
y = 2
x

1

Assim como em outras linguagens, no Python também podemos usar as quatro operações aritméticas básicas que são soma, subtração, multiplicação e divisão. Contudo, para divisão existem dois operadores diferentes, sendo eles **`/`** para divisão decimal e **`//`** para divisão inteira. Além disso, há os operadores `**` para cálculo de potência e **`%`** para resto da divisão.

In [ ]:
print('x + y  = {}'.format(x + y))  # Adição
print('x - y  = {}'.format(x - y))  # Subtração
print('x * y  = {}'.format(x * y))  # Multiplicação
print('x / y  = {}'.format(x / y))  # Divisão
print('x // y = {}'.format(x // y)) # Divisão inteira
print('x ** y = {}'.format(x ** y)) # Potenciação
print('x % y  = {}'.format(x % y))  # Resto da divisão

x + y  = 3
x - y  = -1
x * y  = 2
x / y  = 0.5
x // y = 0
x ** y = 1
x % y  = 1

O operador **`-`** também pode ser usado para tornar um número negativo.

In [ ]:
 print('-x = {}'.format(-x))
 print('-y = {}'.format(-y))

-x = -1
-y = -2

Funções são blocos de código que apenas são executados se forem chamado. Dados podem ser passados para funções através de variáveis chamadas de **parâmetros**. No Python as funções são geradas usando a palavra chave **`def`**, e seus parâmetros podem receber qualquer tipo de dado, sejam eles valores primitivos (inteiros, decimais, booleanos e caracteres), listas, strings, objetos ou até mesmo outras funções. Podemos fazer uma função retornar valor através da palavra chave **`return`**.

In [ ]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

No Python os parâmetros de uma função podem ter um valor atribuído por padrão. Com isso, a função pode ser chamada sem inserir valor nos parâmetros já valorados.

In [ ]:
def add_numbers(x, y, z=0):
    return x + y + z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

Parâmetros com valores inseridos por padrão devem sempre ser colocados à direita.

In [ ]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if(z == None):
        return x + y
    else:
        return x + y + z

print(add_numbers(1, 2, flag=True))

Flag is true!
3

## Linguagem de Programação Python: Tipos e Sequências ##

Apesar de não ser necessário definir explicitamente os tipos das variáveis (como em linguagens fortemente tipadas tais como C, C++ e Java), isso não significa que no Python não existam tipos. Para ver o tipo de um valor, basta usar a função **`type`**.

In [ ]:
type('This is a string.') # String são sequências de caracteres.

str

In [ ]:
type(None) # None é um valor nulo (equivale a "null" em outras linguagens).

NoneType

In [ ]:
type(1)

int

In [ ]:
type(1.0)

float

In [ ]:
type(add_numbers)

function

Tuplas são sequências de valores gerados com o operador parêntesis "( )", podendo eles serem de qualquer tipo. Tuplas são imutáveis, ou seja, não podem ter seus valores alterados e nem receber novos valores.

In [ ]:
x = (1, 'a', 2.0, 'Sabrina')
type(x)

tuple

Listas são sequências de valores gerados com o operador "[ ]" que podem ser de qualquer tipo. Ao contrário das tuplas, listas podem ter seus valores alterados e receber novos valores.

In [ ]:
y = [1, 'a', 3, 'b']
type(y)

list

Para inserir um novo valor numa lista, basta usar a função **`.append`**.

In [ ]:
y.append(5)
print(y)

[1, 'a', 3, 'b', 5]

O loop **`for`** também predomina no Python, mas assim como no Java e no JavaScript ele também possui uma variante na qual permite pegar itens de um objeto iterável em cada interação sem precisar usar o índice.

In [ ]:
for item in y:
    print(item)

1
a
3
b

O loop **`while`**, tal como em outras linguagens, executa um bloco de código enquanto a condição estabelecida for verdadeira. No exemplo abaixo a condição é que **i** seja menor que o tamanho da lista x.

In [ ]:
i = 0
while(i < len(x)):
    print(x[i])
    i += 1

1
a
2.0
Sabrina

O operador **`+`** no Python, além de somar valores, também pode ser usado para unir listas.

In [ ]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [ ]:
'José' + ' ' + 'Victor'

'José Victor'

E o operador **`*`**, além de multiplicar números, também pode ser usado para repetir valores de um array.

In [ ]:
[1] * 3

[1, 1, 1]

In [ ]:
[1, 'abc', 2.3, 'e'] * 3

[1, 'abc', 2.3, 'e', 1, 'abc', 2.3, 'e', 1, 'abc', 2.3, 'e']

A palavra chave **`in`** é usada para verificar se um valor está dentro de um objeto, o que em teoria dos conjuntos é equivalente ao operador **pertence**.

In [ ]:
1 in [1, 2, 3]

True

In [ ]:
[1, 2] in [1, 2, 3]

False

Strings, por serem listas de caracteres, são indexáveis. O operador slice (**:**), como o próprio nome sugere, extrai subconjuntos de um conjunto indexável, que no caso de uma string é uma substring.

In [ ]:
z = "This is a string"
print(z[0])
print(z[0:1])
print(z[0:2])

T
T
Th

Em Python, podemos obter elementos de um objeto usando números negativos, com isso o acesso passa a ser da direita para a esquerda. Números negativos também podem ser usados com o operador slice.

In [ ]:
z[-1]

'g'

In [ ]:
z[-4:-1]

'rin'

Podemos também omitir valores no operador slice. Se fizermos isso na esquerda, ele considerará como valor de início como zero, e se for na direita será o tamanho do array - 1.

In [ ]:
z[:3]

'Thi'

In [ ]:
z[3:]

's is a string'

Como strings representam listas de caracteres, todos os operadores usados para listas também podem ser usados para strings.

In [ ]:
firstname = 'José'
lastname = 'Victor'
print(firstname + ' ' + lastname)
print(firstname * 3)
print('Vic' in lastname)

José Victor
JoséJoséJosé
True

A função split divide uma string em lista de substrings utilizando um separador como parâmetro, que por padrão é espaço.

In [ ]:
firstword = 'José Victor is using a Jupiter Notebook'.split(' ')[0]
lastword = 'José Victor is using a Jupiter Notebook'.split(' ')[-1]
print(firstword)
print(lastword)

José
Notebook

Além do separador, split possui o parâmetro **maxsplit** que determina a quantidade máxima de divisões a serem implementadas.

In [ ]:
'José Victor is using a Jupiter Notebook'.split(maxsplit=2)

['José', 'Victor', 'is using a Jupiter Notebook']

Dicionários são estruturas de dados nas quais cada **valor** é indexado por uma **chave** que pode ser de qualquer tipo. Seus valores podem ser acessados por suas chaves.

In [ ]:
x = {'Cristopher Brooks' : 'brooksch@umich.edu', 'Bill Gates' : 'billg@microsoft.com'}
print(x['Cristopher Brooks'])

brooksch@umich.edu

Para inserir um novo valor para um dicionário, basta usar o operador de indexação **[ ]** com a nova chave e o operador de atribuição **=** para inserir o novo valor.

In [ ]:
x['Maria Medeiros'] = None
x['Maria Medeiros'] = 'mmariammedeiros@yahoo.com.br'
print(x['Maria Medeiros'])

mmariammedeiros@yahoo.com.br

Dicionários também são objetos iteráveis, podendo iterar através das chaves, dos valores usando a função **`.values`** ou de ambos usando a função **`.items`**.

In [ ]:
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com
mmariammedeiros@yahoo.com.br

In [ ]:
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
mmariammedeiros@yahoo.com.br

In [ ]:
for name, email in x.items():
    print(name + ' - ' + email)

Cristopher Brooks - brooksch@umich.edu
Bill Gates - billg@microsoft.com
Maria Medeiros - mmariammedeiros@yahoo.com.br

O operador de atribuição também pode ser usado para atribuir os valores de um array para diferentes variáveis.

In [ ]:
x = ['José', 'Victor', 'josevictor@dcc.ufrj.br']
firstname, lastname, email = x
print(firstname)
print(email)

José
josevictor@dcc.ufrj.br

No entanto, a quantidade de variáveis a receber o valor deve ser a mesma do tamanho do array. Caso contrário, disparará um ValueError.

In [ ]:
x = ['José', 'Victor', 'josevictor@dcc.ufrj.br', '+55 (21) 99779-2091']
firstname, lastname, email = x

ValueError: too many values to unpack (expected 3)

Ao usar o operador **+** para concatenar uma string com um número, esse número precisa ser convertido para string primeiro.

In [ ]:
print('Number ' + str(2))

Number 2

Entretanto, há uma forma mais eficiente e organizada de adicionar valores em uma string, que é usando a função **.format** junto com **{}** na string nos locais onde entrarão os valores.

In [ ]:
sales_record = {'price' : 3.24,
               'num_items' : 4,
               'person' : 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'
print(sales_statement.format(sales_record['person'],
                            sales_record['num_items'],
                            sales_record['price'],
                            sales_record['price'] * sales_record['num_items']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

# Linguagem de Programação Python: Dates e Times

Uma das maneiras mais comuns de se armazenar data e hora em sistemas de transação online é baseado no deslocamento a partir do **epoch**, que é [1 de janeiro de 1970](https://pt.wikipedia.org/wiki/Era_Unix). Em Python, podemos pegar a hora atual desde o *epoch* usando o módulo **`time`**.

In [ ]:
import time as tm
tm.time()

1596414351.0772562

Podemos gerar um **marcador temporal** (timestamp) usando a função **`.fromtimestamp`** do objeto **`datetime`**, passando como parâmetro um objeto do módulo time. Quando colocamos para printar o valor do marcador temporal, vemos que o ano, o mês, o dia, as horas, os minutos e os segundos marcados pelo mesmo são expostos.

In [ ]:
import datetime as dt
dt_now = dt.datetime.fromtimestamp(tm.time())
dt_now

datetime.datetime(2020, 8, 3, 0, 28, 21, 76814)

O objeto *`datetyme`* nos fornece atributos uteis para obtermos do marcador temporal o ano, o mês, o dia, e assim por diante.

In [ ]:
dt_now.year, dt_now.month, dt_now.day, dt_now.hour, dt_now.minute, dt_now.second

(2020, 7, 7, 23, 18, 54)

Objetos *`datetime`* dão suporte a cálculos símples usando intervalos de tempo (timedelta). Por exemplo, podemos criar um intervalo de tempo de 100 dias usando a função **.`timedelta`** e realizarmos operações de comparação e subtração com objetos datetime.

In [ ]:
delta = dt.timedelta(days = 100) # Intervalo de tempo de 100 dias.
delta

datetime.timedelta(100)

In [ ]:
today = dt.date.today()

In [ ]:
today - delta # Acha a data de 100 dias atrás

datetime.date(2020, 3, 29)

In [ ]:
today > today - delta

True

# Linguagem de Programação Python: Objetos e `map()`

Classes em Python são geradas usando a palavra chave **`class`**, e geralmente são nomeadas seguindo o padrão [Camel Case](https://https://pt.wikipedia.org/wiki/CamelCase). O escopo de uma classe consiste de todo o código que estiver identado dentro da mesma, podendo consistir de variáveis de classe (compartihada para toda instância da mesma) e **métodos**. Métodos são declarados da mesma maneira que funções, sendo a única diferença o parâmetro **`self`** que é necessário para acessar a instância/objeto da classe que está sendo usada no momento. Ao contrário de outras linguagens, não é necessário declarar variáveis de instância (isto é, atributos) em classes do Python, podemos simplesmente criá-las dentro dos métodos através do atributo **`self`** ou usando o próprio objeto.

In [1]:
class Person:
    ''' Esse é um exemplo de classe do Python. '''

    department = 'School of information' # Esta é uma variável de classe.
    
    def set_name(self, new_name): # Este é um método da classe.
        self.name = new_name  # Esta é uma variável de instância.
    def set_location(self, new_location):
        self.location = new_location

Há duas coisas importantes sobre classes e objetos no Python que podemos notar no exemplo acima. A primeira é que, ao contrário de linguagens como Java ou C++, não existem variáveis, métodos ou atributos privados e protegidos no Python, ou seja, ao instanciar um objeto de uma classe você terá acesso completo aos métodos e variáveis da mesma. E a segunda é que construtores explícitos não são necessários em classes do Python, mas podem ser adicionados usando o método **`__init__()`**.

In [7]:
person = Person() # É dessa maneira que instanciamos classes no Python.
person.set_name("José Victor")
person.set_location('Duque de Caxias, Rio de Janeiro, Brasil')
person.age = 25 # Um novo atributo criado usando o próprio objeto.
print('Name: {}'.format(person.name))
print('Location: {}'.format(person.location))
print('Age: {} years old'.format(person.age))

Name: José Victor
Location: Duque de Caxias, Rio de Janeiro, Brasil
Age: 25 years old

**`map(function, iterable, ...)`** executa uma determinada função em cada elemento de um ou mais objetos iteráveis passados como parâmetro. `map()` é considerada uma das bases da [Programação Funcional](https://www.revista-programar.info/artigos/programacao-funcional-em-python/#:~:text=O%20paradigma%20funcional%20%C3%A9%20um,ser%204%20%2C%205%20ou%206%20.) no Python.

In [22]:
store_1 = [10.00, 11.00, 12.34, 2.34]
store_2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store_1, store_2)
cheapest

Como vemos acima, ao contrário do que normalmente se espera, `map()` retorna um objeto do tipo map, ou seja, no exemplo essa função não executa a função `min` nos iteráveis `store_1` e `store_2` até que seja requerido. Esse padrão de projeto do Python é chamado de [Lazy Evaluation](https://en.wikipedia.org/wiki/Lazy_evaluation), e isso nos permite realizar um gerenciamento de memória mais eficiente, mesmo para cálculos mais complexos.

Objetos map funcionam de maneira similar a objetos iteráveis tais como listas e tuplas, e com isso podemos usar um loop `for` para iterar em todos os seus elementos.

In [23]:
for item in cheapest:
    print(item)

9.0
11.0
12.34
2.01

Também podemos converter o objeto map em uma lista usando a função **`list()`**.

In [25]:
cheapest = map(min, store_1, store_2)
list(cheapest)

[9.0, 11.0, 12.34, 2.01]

# Linguagem de Programação Python: Lambda e Compreensão de Listas

In [ ]:
my_function = lambda a, b, c : a + b

In [ ]:
my_function(1, 2, 3)

3

In [ ]:
my_list = []
for number in range(0, 1000):
    if number % 2 == 0:
        my_list.append(number)

my_list[0:20]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [ ]:
my_list = [number for number in range(0, 1000) if number % 2 == 0]
my_list[0:20]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]