## Linguagem de Programação Python: Funções##

Python é uma linguagem fracamente tipada, portanto não é necessário definir os tipos de suas variáveis. Para criar uma nova variável, basta escrever o nome dela e atribuir um valor qualquer usando o operador de atribuição "**=**".

In [ ]:
x = 1
y = 2
x

1

Assim como em outras linguagens, no Python também podemos usar as quatro operações aritméticas básicas que são soma, subtração, multiplicação e divisão. Contudo, para divisão existem dois operadores diferentes, sendo eles **`/`** para divisão decimal e **`//`** para divisão inteira. Além disso, há os operadores `**` para cálculo de potência e **`%`** para resto da divisão.

In [ ]:
print('x + y  = {}'.format(x + y))  # Adição
print('x - y  = {}'.format(x - y))  # Subtração
print('x * y  = {}'.format(x * y))  # Multiplicação
print('x / y  = {}'.format(x / y))  # Divisão
print('x // y = {}'.format(x // y)) # Divisão inteira
print('x ** y = {}'.format(x ** y)) # Potenciação
print('x % y  = {}'.format(x % y))  # Resto da divisão

x + y  = 3
x - y  = -1
x * y  = 2
x / y  = 0.5
x // y = 0
x ** y = 1
x % y  = 1

O operador **`-`** também pode ser usado para tornar um número negativo.

In [ ]:
 print('-x = {}'.format(-x))
 print('-y = {}'.format(-y))

-x = -1
-y = -2

Funções são blocos de código que apenas são executados se forem chamado. Dados podem ser passados para funções através de variáveis chamadas de **parâmetros**. No Python as funções são geradas usando a palavra chave **`def`**, e seus parâmetros podem receber qualquer tipo de dado, sejam eles valores primitivos (inteiros, decimais, booleanos e caracteres), listas, strings, objetos ou até mesmo outras funções. Podemos fazer uma função retornar valor através da palavra chave **`return`**.

In [ ]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

No Python os parâmetros de uma função podem ter um valor atribuído por padrão. Com isso, a função pode ser chamada sem inserir valor nos parâmetros já valorados.

In [ ]:
def add_numbers(x, y, z=0):
    return x + y + z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

Parâmetros com valores inseridos por padrão devem sempre ser colocados à direita.

In [ ]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if(z == None):
        return x + y
    else:
        return x + y + z

print(add_numbers(1, 2, flag=True))

Flag is true!
3

## Linguagem de Programação Python: Tipos e Sequências ##

Apesar de não ser necessário definir explicitamente os tipos das variáveis (como em linguagens fortemente tipadas tais como C, C++ e Java), isso não significa que no Python não existam tipos. Para ver o tipo de um valor, basta usar a função **`type`**.

In [ ]:
type('This is a string.') # String são sequências de caracteres.

str

In [ ]:
type(None) # None é um valor nulo (equivale a "null" em outras linguagens).

NoneType

In [ ]:
type(1)

int

In [ ]:
type(1.0)

float

In [ ]:
type(add_numbers)

function

Tuplas são sequências de valores gerados com o operador parêntesis "( )", podendo eles serem de qualquer tipo. Tuplas são imutáveis, ou seja, não podem ter seus valores alterados e nem receber novos valores.

In [3]:
x = (1, 'a', 2.0, 'Sabrina')
type(x)

tuple

Listas são sequências de valores gerados com o operador "[ ]" que podem ser de qualquer tipo. Ao contrário das tuplas, listas podem ter seus valores alterados e receber novos valores.

In [2]:
y = [1, 'a', 3, 'b']
type(y)

list

Para inserir um novo valor numa lista, basta usar a função **`.append`**.

In [ ]:
y.append(5)
print(y)

[1, 'a', 3, 'b', 5]

O loop **`for`** também predomina no Python, mas assim como no Java e no JavaScript ele também possui uma variante na qual permite pegar itens de um objeto iterável em cada interação sem precisar usar o índice.

In [5]:
for item in y:
    print(item)

1
a
3
b

O loop **`while`**, tal como em outras linguagens, executa um bloco de código enquanto a condição estabelecida for verdadeira. No exemplo abaixo a condição é que **i** seja menor que o tamanho da lista x.

In [7]:
i = 0
while(i < len(x)):
    print(x[i])
    i += 1

1
a
2.0
Sabrina

O operador **`+`** no Python, além de somar valores, também pode ser usado para unir listas.

In [ ]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [8]:
'José' + ' ' + 'Victor'

'José Victor'

E o operador **`*`**, além de multiplicar números, também pode ser usado para repetir valores de um array.

In [9]:
[1] * 3

[1, 1, 1]

In [10]:
[1, 'abc', 2.3, 'e'] * 3

[1, 'abc', 2.3, 'e', 1, 'abc', 2.3, 'e', 1, 'abc', 2.3, 'e']

A palavra chave **`in`** é usada para verificar se um valor está dentro de um objeto, o que em teoria dos conjuntos é equivalente ao operador **pertence**.

In [12]:
1 in [1, 2, 3]

True

In [13]:
[1, 2] in [1, 2, 3]

False

Strings, por serem listas de caracteres, são indexáveis. O operador slice (**:**), como o próprio nome sugere, extrai subconjuntos de um conjunto indexável, que no caso de uma string é uma substring.

In [14]:
z = "This is a string"
print(z[0])
print(z[0:1])
print(z[0:2])

T
T
Th

Em Python, podemos obter elementos de um objeto usando números negativos, com isso o acesso passa a ser da direita para a esquerda. Números negativos também podem ser usados com o operador slice.

In [15]:
z[-1]

'g'

In [16]:
z[-4:-1]

'rin'

Podemos também omitir valores no operador slice. Se fizermos isso na esquerda, ele considerará como valor de início como zero, e se for na direita será o tamanho do array - 1.

In [ ]:
z[:3]

'Thi'

In [ ]:
z[3:]

's is a string'

Como strings representam listas de caracteres, todos os operadores usados para listas também podem ser usados para strings.

In [17]:
firstname = 'José'
lastname = 'Victor'
print(firstname + ' ' + lastname)
print(firstname * 3)
print('Vic' in lastname)

José Victor
JoséJoséJosé
True

A função split divide uma string em lista de substrings utilizando um separador como parâmetro, que por padrão é espaço.

In [21]:
firstword = 'José Victor is using a Jupiter Notebook'.split(' ')[0]
lastword = 'José Victor is using a Jupiter Notebook'.split(' ')[-1]
print(firstword)
print(lastword)

José
Notebook

Além do separador, split possui o parâmetro **maxsplit** que determina a quantidade máxima de divisões a serem implementadas.

In [22]:
'José Victor is using a Jupiter Notebook'.split(maxsplit=2)

['José', 'Victor', 'is using a Jupiter Notebook']

Dicionários são estruturas de dados nas quais cada **valor** é indexado por uma **chave** que pode ser de qualquer tipo. Seus valores podem ser acessados por suas chaves.

In [27]:
x = {'Cristopher Brooks' : 'brooksch@umich.edu', 'Bill Gates' : 'billg@microsoft.com'}
print(x['Cristopher Brooks'])

brooksch@umich.edu

Para inserir um novo valor para um dicionário, basta usar o operador de indexação **[ ]** com a nova chave e o operador de atribuição **=** para inserir o novo valor.

In [28]:
x['Maria Medeiros'] = None
x['Maria Medeiros'] = 'mmariammedeiros@yahoo.com.br'
print(x['Maria Medeiros'])

mmariammedeiros@yahoo.com.br

Dicionários também são objetos iteráveis, podendo iterar através das chaves, dos valores usando a função **`.values`** ou de ambos usando a função **`.items`**.

In [29]:
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com
mmariammedeiros@yahoo.com.br

In [30]:
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
mmariammedeiros@yahoo.com.br

In [31]:
for name, email in x.items():
    print(name + ' - ' + email)

Cristopher Brooks - brooksch@umich.edu
Bill Gates - billg@microsoft.com
Maria Medeiros - mmariammedeiros@yahoo.com.br

O operador de atribuição também pode ser usado para atribuir os valores de um array para diferentes variáveis.

In [35]:
x = ['José', 'Victor', 'josevictor@dcc.ufrj.br']
firstname, lastname, email = x
print(firstname)
print(email)

José
josevictor@dcc.ufrj.br

No entanto, a quantidade de variáveis a receber o valor deve ser a mesma do tamanho do array. Caso contrário, disparará um ValueError.

In [ ]:
x = ['José', 'Victor', 'josevictor@dcc.ufrj.br', '+55 (21) 99779-2091']
firstname, lastname, email = x

ValueError: too many values to unpack (expected 3)

Ao usar o operador **+** para concatenar uma string com um número, esse número precisa ser convertido para string primeiro.

In [36]:
print('Number ' + str(2))

Number 2

Entretanto, há uma forma mais eficiente e organizada de inserir números em uma string, que é usando a função **.format** junto com **{}** na string nos locais onde entrarão os valores.

In [ ]:
sales_record = {'price' : 3.24,
               'num_items' : 4,
               'person' : 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'
print(sales_statement.format(sales_record['person'],
                            sales_record['num_items'],
                            sales_record['price'],
                            sales_record['price'] * sales_record['num_items']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

# The Python Programming Language: Dates and Times

In [ ]:
import datetime as dt
import time as tm

In [ ]:
tm.time()

1594163933.5358355

In [ ]:
dt_now = dt.datetime.fromtimestamp(tm.time())
dt_now

datetime.datetime(2020, 7, 7, 23, 18, 54, 695502)

In [ ]:
dt_now.year, dt_now.month, dt_now.day, dt_now.hour, dt_now.minute, dt_now.second

(2020, 7, 7, 23, 18, 54)

In [ ]:
delta = dt.timedelta(days = 100) # Intervalo de tempo de 100 dias.
delta

datetime.timedelta(100)

In [ ]:
today = dt.date.today()

In [ ]:
today - delta # Acha a data de 100 dias atrás

datetime.date(2020, 3, 29)

In [ ]:
today > today - delta

True

# The Python Programming Language: Objects and map()

In [ ]:
class Person:
    ''' An example of class in Python. '''

    department = 'School of information'
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [ ]:
store_1 = [10.00, 11.00, 12.34, 2.34]
store_2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store_1, store_2)
cheapest

In [ ]:
for item in cheapest:
    print(item)

9.0
11.0
12.34
2.01

# The Python Programming Language: Lambda and List Comprehensions

In [ ]:
my_function = lambda a, b, c : a + b

In [ ]:
my_function(1, 2, 3)

3

In [ ]:
my_list = []
for number in range(0, 1000):
    if number % 2 == 0:
        my_list.append(number)

my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

In [ ]:
my_list = [number for number in range(0, 1000) if number % 2 == 0]
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]